<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

     <!-- Auto create/update table -->
     <property name="hibernate.hbm2ddl.auto">update</property>

     <!-- FIXED: correct property name -->
     <property name="hibernate.dialect">
         org.hibernate.dialect.MySQL8Dialect
     </property>

     <!-- FIXED: correct property name -->
     <property name="hibernate.connection.driver_class">
         com.mysql.cj.jdbc.Driver
     </property>

     <property name="hibernate.connection.url">
         jdbc:mysql://localhost:3306/JdbcExample
     </property>

     <property name="hibernate.connection.username">
         root
     </property>

     <property name="hibernate.connection.password">
         Sai@123
     </property>

     <property name="hibernate.show_sql">true</property>
     <property name="hibernate.format_sql">true</property>


 <mapping class="com.CrmSales.Customer"/>
<mapping class="com.CrmSales.Address"/>
<mapping class="com.CrmSales.Lead"/>
<mapping class="com.CrmSales.SalesEmployee"/>
<mapping class="com.CrmSales.Product"/>
<mapping class="com.CrmSales.Order"/>
<mapping class="com.CrmSales.SupportTicket"/>

  </session-factory>
</hibernate-configuration>
